<div class="container py-4">
  <h2 class="text-center mb-4"><i class="bi bi-person-workspace"></i> Admin Panel</h2>
<nav class="admin-nav d-none d-md-flex gap-4 align-items-center justify-content-center mb-4">
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="personal" routerLinkActive="active">Personal</a>
  <a routerLink="about" routerLinkActive="active">About</a>
  <a routerLink="experiences" routerLinkActive="active">Experiences</a>
  <a routerLink="projects" routerLinkActive="active">Projects</a>
</nav>
  <router-outlet></router-outlet>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-dark px-5">
          <i class="bi bi-bookmark-fill"></i> Save Portfolio
        </button>
</div>


